@import url("../../styles.css");

.authContainer {
    display: flex;
    flex-direction: column;
    width: 35rem;
    border: 1px solid grey;
    border-radius: 3px;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.authInput {
    width: 20rem;
    border: none;
    border-bottom: 1px solid var(--plm-grey);
    background-color: transparent;
}

.authInput:focus {
    border-bottom: 2px solid var(--plm-pink);
}

.submitButton {
    width: 10rem;
    margin-top: 1rem;
    padding: 0.5rem;
}

.registerLink {
    justify-content: flex-start;
    text-decoration: none;
    color: inherit;
}